.navbar-brand_img {
  width: 110px;
  position: absolute;
  top: -56px;
}

.header-search {
  display: flex;
  width: 80%;
  margin-left: 132px;
}

.header-buttons {
  padding-top: 5px;
  padding-right: 5px;
}

.header-enter-btn {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all .5s ease-in-out;
  padding-right: 5px;
}

.header-enter-btn:hover {
  opacity: 0.8;
}

.header-login-btn {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.header-login-btn:hover {
  opacity: 0.8;
}

.header-sign-in-icon {
  padding-right: 5px;
}

.container.header-container {
  padding: 10px 10px;
}

.container.header-container {
  display: flex;
}

.col.header-column {
  background-color: #33b5e5;
}

.header__search-icon {
  font-size: larger;
  color: #fff;
  padding: 8px;
}

.slider__description {
  /*background-color: #0099CC;*/
  /*opacity: 0.8;*/
  width: 100%;
  height: 100%;
  background: #009cbf url(../../img//combined-shape.svg) no-repeat right top;
  /*height: 500px;*/
  padding: 60px 60px 40px;
}

.slider__carousel-wrapper {
  padding: 0;
}

.slider__description-wrapper {
  padding: 0;
}

.slider__carousel {
  /*border-radius: 0;*/
}

.nav.navbar-nav.ml-auto {
}

.navbar-column {
  /*padding-left: 18px;*/
}

.navbar-light .navbar-nav .nav-link {
  padding: 5px;
}

.header-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.header-login-btn {
  margin-left: 10px;
}

.posts__item-btn-group {
  margin-top: 10px;
}

.team__item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  padding: 0 6px;
}

.rounded-circle.team__item-img {
  max-width: 136px;
  border: 8px solid rgb(0,156,191);
}

.team__item {
  text-align: center;
  width: 160px;
}

.team-about__block {
  background: linear-gradient(0deg,rgba(51,181,229,0.8),rgba(51,181,229,0.89)), url('../../img/ornament.png');
  background-repeat: round;
  color: #fff;
}

.row.team-about__row {
  padding: 55px 0;
}

.team__item-title {
  font-weight: 600;
  font-size: 18px;
}

.about__description {
  font-size: 22px;
  font-weight: 300;
}

.about__button {
  margin-top: 16px;
  border-radius: 35px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 15px 35px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.about__button:hover {
  background-color: #fff;
  color: #000;
  text-decoration: initial;
}

.page-item.active .page-link {
  background-color: #33b5e5;
  border-color: #33b5e5;
}
.page-link {
  color: #33b5e5;
}
.col-md-8 h2 {
  margin-bottom: 20px;
}

#map {
  width: 100%; height: 100%; padding: 0; margin: 0;
}

@media (max-width: 768px) {
  .header-search {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-buttons {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-brand_img {
    width: 72px;
    top: -20px;
  }
}

@media (max-width: 768px) {
  .team__item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .team-about__block {
    background-repeat: unset;
  }
}

@media (max-width: 768px) {
  .about__column {
    padding-top: 55px;
  }
}

.photo-heading {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
}

.photo-text {
  padding-top: 5px;
}

.photo-author {
  font-size: 14px;
  color: #009cbf;
}

.news__item {
  padding: 20px 15px;
  margin-top: 20px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 10px;
}

.news__icon {
  padding-right: 5px;
}

.news__heading {
  display: flex;
  font-size: 14px;
  color: #3a3a3a;
  justify-content: space-between;
}

.news__text {
  padding-top: 10px;
}

.news__item-wrapper {
  color: #465765;
}

.news__item-wrapper:hover {
  text-decoration: none;
}

.news__date-icon {
  padding-right: 5px;
}

.news__pagination {
  margin-top: 20px;
}

.slider__header {
  color: #fff;
}

.slider__text {
  color: #fff;
  padding-top: 10px;
}

.slider__button {
  border: 2px solid #fff;
  padding: 15px 35px;
  font-weight: bold;
  border-radius: 35px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  transition: all 0.5s ease;
}
.slider__button:hover {
  background-color: #fff;
  color: #000;
  text-decoration: initial;
}

.slider__button-wrapper {
  padding-top: 20px;
}

.aside-event__item-box {
  padding: 20px;
  background-color: #009cbf;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.aside-event__date {
  color: #fff;
  padding: 0 0 10px 0;
}

.aside-event__text {
  font-weight: 600;
}

.aside-event__item {
  color: #fff;
}

.aside-event__item:hover {
  text-decoration: none;
  color: #fff;
}

.aside-event__item-wrapper {
  transition: all 0.5s ease;
  margin-top: 20px;
}

.aside-event__item-wrapper:hover {
  opacity: 0.8;
}

.aside-expert-opinion {
  margin-top: 20px;
}

.aside-expert-opinion__item {
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.aside-expert-opinion__item:hover {
  opacity: 0.8;
}

.aside-expert-opinion__box {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../img/expert-opinion.jpg);
  color: #fff;
}

.aside-expert-opinion__title {
  font-size: 14px;
  padding-top: 10px;
  background-color: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}

.about__img {
  width: 200px;
}

.about__profile {
  width: 200px;
  float: left;
  margin: 0 26px 0 0;
  text-align: center;
}

.about__content {
  text-align: justify;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 15.5px;
}

.partners {
  padding: 40px 0 0 0;
}

@media (max-width: 768px) {
  .about__profile {
    width: 100%;
  }
}

.col.col-lg-8 {
}

.news__img-wrapper {
  padding-right: 0;
}

@media (max-width: 768px) {
  .news__img-wrapper {
    padding-right: 15px;
    padding-bottom: 15px;
  }
}

.clinic-cases__item {
  padding: 20px 15px;
  margin-top: 20px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 10px;
}

.clinic-cases__text {
  padding-top: 10px;
}

.clinic-cases__heading {
  font-size: 14px;
  color: #3a3a3a;
}

.clinic-cases__item-link {
  color: #465765;
}

.contacts__item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  padding: 0 50px;
}

.contacts__item {
  width: 100%;
}

.contacts__item {
  text-align: center;
  width: 160px;
}

.contacts__item-title {
  font-weight: 600;
  font-size: 18px;
  padding-top: 20px;
}

.contacts__email {
  display: flex;
}

.contacts__email-icon {
  padding-right: 8px;
  font-size: 18px;
  padding-top: 4px;
}

.col.contacts__form {
  margin-top: 40px;
}

.news__pagination {
  margin-top: 40px;
}

.breadcrumb > li + li::before {
  padding: 0 5px;
  color: #ccc;
  content: "\00bb ";
}
.breadcrumb {
  background-color: unset;
  font-size: 16px;
  padding-left: 0;
}
.breadcrumb a {
  color: #fff;
}
.breadcrumb__wrapper {
  background: linear-gradient(0deg,rgba(51,181,229,0.8),rgba(51,181,229,0.89)), url(../../img/ornament-hero.png);
  background-repeat: round;
  color: #fff;
}

/* Events */
.event__name {
  font-weight: 600;
  margin-bottom: 20px;
}
.event__box {
  padding: 20px 15px;
  margin-top: 20px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 10px;
}
.event__info {
  display: flex;
}
.event__info div {
  margin-right: 20px;
}
.event__info div:last-child {
  margin-right: 0;
}
.event__item {
  color: #0a0a0a;
}
.event__item:hover {
  text-decoration: unset;
  color: #0a0a0a;
}
.event__hint {
  color: rgb(157,157,157);
}
.event__box:hover {
  opacity: 0.8;
}
.event__item-wrapper:last-child {
  margin-bottom: 40px;
}

/* Statute */
.statute__img {
  width: 100%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.statute__content {
  margin-bottom: 40px;
}
.blue-link-button {
  background-color: transparent;
  border: #2295ac solid 2px;
  color: #2295ac;
  padding: 15px 35px;
  font-weight: bold;
  border-radius: 35px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.5s ease;
}
.statute__download {
  display: flex;
}
.statute__document-info {
  opacity: 0.5;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.blue-link-button:hover {
  color: #2295ac;
  opacity: 0.6;
}

/* Documents */
.document__item-link {
  color: #0a0a0a;
}
.document__item-link:hover {
  color: #0a0a0a;
  text-decoration: unset;
}
.document__icon {
  font-size: 60px;
}
.document__item {
  text-align: center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  padding: 15px 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.document__item:hover {
  opacity: 0.6;
}
.document__icon-wrapper {
  padding: 15px;
}
.document__info {
  margin-top: 10px;
  color: #9a9a9a;
}
.documents__pagination {
  margin-top: 40px;
}

/* Members */
.member__link {
    color: #0a0a0a;
}
.member__link:hover {
  color: #0a0a0a;
  text-decoration: unset;
}
.member__box {
  text-align: center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 10px;
  transition: all 0.5s ease;
  cursor: pointer;;
}
.member__box:hover {
  opacity: 0.6;
}
.member__content {
  padding: 15px 20px;
}
.member__icon-wrapper {
  padding: 15px;
}
.member__info {
  margin-top: 10px;
  color: #9a9a9a;
}
.member__pagination {
  margin-top: 40px;
}
.member__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.member__description {
  color: #9a9a9a;
  font-size: 14px;
}
.member__email {
  margin-top: 10px;
  font-size: 14px;
}
.member__envelope-icon {
  margin-right: 5px;
}

/* Masonary grid for members */
.grid-sizer,
.grid-item {
  width: 33%;
  padding: 10px;
}
/* 2 columns */
.grid-item--width2 {
  width: 40%;
}

.presentation-sizer,
.presentation-item {
  width: 50%;
  padding: 10px;
}

/* Tutorials */
.tutorial__link {
  color: #0a0a0a;
}
.tutorial__link:hover {
  color: #0a0a0a;
  text-decoration: unset;
}
.tutorial__box {
  text-align: center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 10px;
  transition: all 0.5s ease;
  cursor: pointer;;
}
.tutorial__box:hover {
  opacity: 0.6;
}
.tutorial__content {
  padding: 15px 20px;
}
.tutorial__icon-wrapper {
  padding: 15px;
}
.tutorial__info {
  margin-top: 10px;
  color: #9a9a9a;
}
.tutorial__pagination {
  margin-top: 40px;
}
.tutorial__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tutorial__description {
  color: #9a9a9a;
  font-size: 14px;
}
.tutorial__email {
  margin-top: 10px;
  font-size: 14px;
}
.tutorial__envelope-icon {
  margin-right: 5px;
}


/* video-broadcasts */
.video-broadcast__item {
  width: 46%;
  padding: 10px 0 0 0;
  margin: 0 28px 28px 0;
}
.video-broadcast__link {
  color: #0a0a0a;
}
.video-broadcast__link:hover {
  color: #0a0a0a;
  text-decoration: unset;
}
.video-broadcast__box {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.video-broadcast__box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 6px;
  left: 131.5px;
  right: 0;
  bottom: 0;
  width: 204px;
  border-radius: 0px 0px 11px 0px;
  background: url(/img/youtube.png) no-repeat;
  opacity: 0.1;
}
.video-broadcast__box:hover {
  opacity: 0.6;
}
.video-broadcast__content {
  padding: 15px 20px;
}
.video-broadcast__icon-wrapper {
  padding: 15px;
}
.video-broadcast__info {
  margin-top: 10px;
  color: #9a9a9a;
}
.video-broadcast__pagination {
  margin-top: 40px;
}
.video-broadcast__description {
  color: #9a9a9a;
  font-size: 14px;
}
.video-broadcast__email {
  margin-top: 10px;
  font-size: 14px;
}
.video-broadcast__envelope-icon {
  margin-right: 5px;
}

/* Expert opinions */
.expert-opinion__link {
  color: #0a0a0a;
}
.expert-opinions__item {
  width: 46%;
  padding: 10px 0 0 0;
  margin: 0 28px 28px 0;
}
.expert-opinion__link:hover {
  color: #0a0a0a;
  text-decoration: unset;
}
.expert-opinion__box {
  text-align: center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 10px;
  transition: all 0.5s ease;
  cursor: pointer;;
}
.expert-opinion__box:hover {
  opacity: 0.6;
}
.expert-opinion__content {
  padding: 15px 20px;
}
.expert-opinion__icon-wrapper {
  padding: 15px;
}
.expert-opinion__info {
  margin-top: 10px;
  color: #9a9a9a;
}
.expert-opinion__pagination {
  margin-top: 40px;
}
.expert-opinion__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.expert-opinion__topic {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
}

/* Member View */
.member-view__image {
  width: 100%;
}
.member-view__envelope-icon {
  margin-right: 5px;
}


/* Recommendation */
.recommendation__name {
  font-weight: 600;
  margin-top: 10px;
}
.recommendation__short-description {
  margin-top: 5px;
}
.recommendation__date {
  font-size: 14px;
  color: #3a3a3a;
}
.recommendation__box {
  padding: 20px 15px;
  margin-top: 20px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 10px;
  color: #0a0a0a;
  transition: all .5s ease;
}
.recommendation__box:hover {
  opacity: 0.6;
}
.recommendation__link {
  color: #0a0a0a;
}
.recommendation__link:hover {
  text-decoration: unset;
}

/* Publication */
.publication__name {
  font-weight: 600;
  margin-top: 10px;
}
.publication__short-description {
  margin-top: 5px;
}
.publication__date {
  font-size: 14px;
  color: #3a3a3a;
}
.publication__box {
  padding: 20px 15px;
  margin-top: 20px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 10px;
  color: #0a0a0a;
  transition: all .5s ease;
}
.publication__box:hover {
  opacity: 0.6;
}
.publication__link {
  color: #0a0a0a;
}
.publication__link:hover {
  text-decoration: unset;
}

/* Clinic case */
.clinic-case__name {
  font-weight: 600;
  margin-top: 15px;
}
.clinic-case__date {
  font-size: 14px;
  color: #3a3a3a;
}
.clinic-case__box {
  padding: 20px 15px;
  margin-top: 20px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 10px;
  color: #0a0a0a;
  transition: all .5s ease;
  background: #f3f3f378;;
}
.clinic-case__box:hover {
  opacity: 0.6;
}
.clinic-case__link {
  color: #0a0a0a;
}
.clinic-case__link:hover {
  text-decoration: unset;
}
.clinic-cases__pagination {
  margin-top: 40px;
}
.clinic-case__author {
  margin-top: 10px;
}

/* Presentations */
.presentations__pagination {
  margin-top: 40px;
}
.presentation__box {
  padding: 20px 15px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 10px;
  color: #0a0a0a;
  transition: all .5s ease;
  background: #f3f3f378;
}
.presentation__box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 36px;
  left: 160px;
  right: 0;
  bottom: 0;
  height: 173px;
  width: 195px;
  border-radius: 0px 0px 11px 0px;
  background: url(/img/word-doc-icon.png) no-repeat;
  opacity: 0.2;
}
.presentation__name {
}
.presentation__footer {
  display: flex;
  justify-content: space-between;
}
.presentation__year-icon {
  padding-right: 5px;
}
.presentation__views-icon {
  padding-right: 5px;
}
.presentation__author {
  margin-top: 5px;
}
.presentation__footer {
  margin-top: 10px;
}

.footer-clean {
  margin-top: 40px;
}

.jumbotron {
  border-radius: 0 !important;
}

/* Contacts */
.contacts__item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  padding: 0 50px;
}

.contacts__item {
  width: 100%;
}

.contacts__item {
  text-align: center;
  width: 160px;
}

.contacts__item-title {
  font-weight: 600;
  font-size: 18px;
  padding-top: 20px;
}

.contacts__email {
  display: flex;
}

.contacts__email-icon {
  padding-right: 8px;
  font-size: 18px;
  padding-top: 4px;
}

.col.contacts__form {
  margin-top: 40px;
}
.magazine-download__link-wrapper {
  position: absolute;
  bottom: 30px;
  left: 60px;
}
.magazine-download__link {
  text-decoration: unset;
}
.magazine-download__link:hover {
  text-decoration: unset;
}
.magazine-download {
  background-color: #009cbf;
  border-radius: 50px;
  color: #ffffff;
  display: block;
  padding: 0.3125em 1.25em;
  text-decoration: none;
  transition: all 0.5s ease;
}
.magazine-download:hover {
  opacity: 0.8;
}

.posts {
  margin: 20px 0;
}

.item {
  margin: 20px 0px;
}

.card {
  border-radius: 10px;
}

@media only screen and (max-width: 992px) {
  .grid-item {
    width: 50%;
  }
  .presentation-item {
    width: 100%;
  }
  .presentation__box::after {
    top: 33px;
    left: 140px;
    height: 200px;
    width: 195px;
  }
}

@media only screen and (max-width: 768px) {
  .aside-event {
    margin-top: 40px;
  }
}